@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 249 250; /* #F8F9FA - Light gray background */
    --foreground: 0 0 0;
  }
  body {
    @apply bg-[rgb(var(--background))] text-slate-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}
